/* CSS Document */
body {
  margin: 0;
  padding: 0;
  color: #2e2e2e;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  background: url("../images/top-gradient.png") left top repeat-x #ececec;
  font-size: small;
}

/* -------------- resets ---------------------- */
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  /*line-height: 140%;*/
}

p {
  line-height: 17px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
}

img {
  border: none;
  display: block;
}

select {
  margin: 0 0 15px;
  font-weight: bold;
  width: 100%;
  color: #001848;
}

* {
  outline: none;
}

.text-section h1 {
  display: none;
}

.cleft {
  clear: left;
}

.cboth {
  clear: both;
}

/* -------------- resets ---------------------- */
/* Not for desktop */
.displayNone,
.not-for-desktop {
  display: none !important;
}

.general-padding {
  padding: 15px;
}

/* site */
/* ================================================ */
.page {
  width: 960px;
  margin: 0 auto;
}

/* header */
/* ================================================ */
.header {
  position: relative;
  height: 133px;
}

h1 {
  float: left;
  padding: 10px 12px;
}

h1 a {
  display: block;
}

/* hit counter */
/* ================================================ */
#hit-counter {
  text-align: right;
  width: 190px;
  height: 49px;
  color: #e2bdbe;
  font-size: 10px;
  padding: 15px 22px 8px 10px;
  background: url("../images/counter-bg.png");
  font-weight: bold;
  float: right;
  margin-right: -7px;
  margin-top: 18px;
}

#hit-counter ol {
  margin: 0 0 4px;
  padding: 0;
  width: 168px;
  float: right;
  font-size: 34px;
  background: black url("../images/counter-gradient.png") repeat-x;
  line-height: 1;
  height: 35px;
  list-style: none;
  color: #FFF;
}

#hit-counter li {
  float: left;
  width: 22px;
  text-align: center;
  border-right: 2px solid #000;
}

#hit-counter li.last-child {
  border: 0;
}

/* main navigation */
/* ================================================ */
.main-nav {
  position: absolute;
  top: 100px;
  left: 0;
  width: 960px;
  background-color: #001848;
  z-index: 10;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
}

.main-nav ul:after {
  content: "";
  clear: both;
  display: block;
}

.main-nav ul li {
  float: left;
  padding-right: 1px;
  background: url("../images/nav-divider.png") bottom right no-repeat;
}

.main-nav ul li.no-bg {
  background: none;
}

.main-nav ul li a {
  display: block;
  height: 33px;
  line-height: 33px;
  color: #a4a4a4;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 0 12px;
}

.main-nav ul li.facebook {
  float: right;
}

.main-nav ul li.facebook a {
  text-indent: -9000px;
  background: url("../images/fb-icon.png") center center no-repeat;
  width: 32px;
  padding: 0;
  margin-right: 4px;
}

.main-nav ul li.hover a,
.main-nav ul li a:hover {
  color: #fff;
}

.main-nav ul ul {
  position: absolute;
  top: 100%;
  width: 250px;
  display: none;
}

.main-nav ul ul li {
  display: block;
  float: none;
  position: relative;
  background: none;
  border-top: 1px solid #ccc;
}

.main-nav ul ul li a {
  background-color: #001848;
  font-size: 12px;
  padding: 8px 16px;
  height: auto;
  line-height: inherit;
}

.main-nav ul ul li a.has-child {
  background: url("../images/child.png") center right no-repeat #001848;
}

.main-nav ul ul li.hover a,
.main-nav ul ul li a:hover {
  background-color: #0f82ff;
}

.main-nav ul li.hover ul {
  display: block;
}

.main-nav ul li.hover ul ul {
  display: none;
}

.main-nav ul li.hover ul li.hover ul {
  display: block;
  margin-top: -1px;
  margin-left: -1px;
}

.main-nav ul ul ul {
  position: absolute !important;
  left: 100%;
  top: 0;
}

.main-nav ul ul ul li.hover a,
.main-nav ul ul ul li a:hover {
  color: #001848;
}

/* mobile navigation */
/* ================================================ */
.burger-nav {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 20px;
  right: 20px;
  display: none;
}

.burger-nav a {
  color: #fff;
  font-size: 4.5em;
  display: block;
  text-decoration: none;
}

#mobile-nav {
  background-color: #000;
  display: none;
}

#mobile-nav .header {
  position: relative;
  height: 100px;
}

#mobile-nav .header span {
  color: #fff;
  font-size: 4.5em;
  display: block;
  text-decoration: none;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 20px;
  right: 20px;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  padding: 0 0 0 0;
}

#mobile-nav ul li a {
  display: block;
  font-weight: bold;
  padding: 18px 16px;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #001848;
  color: #ffffff;
  background: -moz-linear-gradient(top, #292929 0%, #000305);
  background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#000305));
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.5);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.3);
}
#mobile-nav ul li a:active, #mobile-nav ul li a.active {
  background: #0f82ff;
}

/* buttons */
/* ================================================ */
.big-link {
  border: 0;
  padding: 0 19px 0 15px;
  font-size: 13px;
  line-height: 35px;
  font-weight: bold;
  color: #fff000 !important;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  clear: both;
}
.big-link.blue-link {
  background: url("../images/btn-more.png") 0 0 no-repeat;
}
.big-link.blue-link:hover {
  color: #fff !important;
}

.red-link {
  width: 167px;
  height: 43px;
}

.configure-btn {
  display: block;
  background: url("../images/priceconfigure-btn.png") left top no-repeat;
  text-indent: -999em;
  width: 129px;
  height: 43px;
}
.configure-btn:hover {
  background: url("../images/priceconfigure-btn.png") left bottom no-repeat;
}
.configure-btn.small-btn {
  width: 167px;
  height: 33px;
  background: url("../images/priceconfigure-small-btn.png") left top no-repeat;
}
.configure-btn.small-btn:hover {
  background: url("../images/priceconfigure-small-btn.png") left bottom no-repeat;
}

.read-more {
  text-decoration: underline !important;
}

.read-more:hover {
  text-decoration: none !important;
}

/* main */
/* ================================================ */
.main {
  margin-top: 30px;
  margin-right: -246px;
  width: 100%;
  float: left;
}

.content.full-width .main {
  margin-right: 0;
  width: 100%;
  float: none;
}

.container:after,
.content:after {
  content: "";
  clear: both;
  display: block;
}

.main .container {
  margin-right: 246px;
}

.content.full-width .main .container {
  margin-right: 0;
}

.mainbox {
  margin-bottom: 20px;
  /*-webkit-box-shadow: 0 8px 6px -6px #ccc;*/
  /*-moz-box-shadow: 0 8px 6px -6px #ccc;*/
  /*box-shadow: 0 8px 6px -6px #ccc;*/
}
.mainbox:after {
  content: "";
  clear: both;
  display: block;
}
.mainbox h2 {
  font-size: 18px;
  line-height: 110%;
  padding-bottom: 5px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  color: #001748;
}

/* sidebar */
/* ================================================ */
.sidebar {
  margin-top: 30px;
  width: 226px;
  float: left;
  margin-left: 20px;
}
.sidebar .sidebox {
  margin-bottom: 20px;
  background-color: #fff;
}
.sidebar .sidebox:after {
  content: "";
  clear: both;
  display: block;
}
.sidebar .sidebox h3 {
  color: #fff;
  background: #001748;
  padding: 8px 10px;
  font-size: 15px;
}
.sidebar .sidebox a {
  display: block;
}
.sidebar .sidebox .responsive {
  width: 100%;
}
.sidebar .sidebox.news ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .sidebox.news ul li {
  padding: 8px 12px;
  background-color: #fff;
}
.sidebar .sidebox.news ul li h4 {
  font-size: 12px;
  line-height: 17px;
}
.sidebar .sidebox.news ul li a {
  color: #217cc9;
  display: inline;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
.sidebar .sidebox.news ul li a:hover {
  text-decoration: none;
}
.sidebar .sidebox.news ul li.even {
  background-color: #dedede;
}
.sidebar .sidebox.video {
  background-color: #000;
}
.sidebar .sidebox.video iframe {
  display: block;
}

/* homepage hero heading */
/* ================================================ */
.main-heading {
  color: #001748;
  padding: 0 10px 8px 12px;
}

.mobile .main-heading {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  padding-top: 10px;
}

.main-heading h2 {
  font-size: 25px;
}

.main-heading.hero {
  background: url("../images/home_title_grad.png") top right repeat-y #001649;
  text-shadow: none;
  height: 60px;
  padding: 0;
}

.main-heading.hero h2 {
  color: #fff000;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 5px 10px 0 10px;
  color: #fff000;
  font-size: 25px;
}

.main-heading p {
  margin: 0;
  padding: 3px 10px 5px 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

/* carousel */
/* ================================================ */
.carousel {
  background-color: #fff;
}

.carousel img {
  width: 100%;
}

.carousel ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.carousel .copy {
  padding: 10px;
  background-color: #fff;
  position: relative;
}
.carousel .copy p {
  padding-right: 90px;
  padding-bottom: 5px;
  color: #4b4b4a;
  font-weight: bold;
}
.carousel .copy h2 {
  margin: 0;
  padding: 0 90px 5px 0;
  color: #000;
  font-size: 25px;
}
.carousel .copy:after {
  content: "";
  clear: both;
  display: block;
}
.carousel .copy .big-link {
  position: absolute;
  right: 10px;
  top: 12px;
}

/* carousel controls */
.carousel .bx-controls:after {
  content: "";
  clear: both;
  display: block;
}

.carousel .bx-pager {
  float: right;
}

.desktop .carousel .bx-controls {
  padding: 0 15px 5px 0;
  position: relative;
}
.desktop .bx-controls-direction {
  position: absolute;
  right: 10px;
  top: 0;
  width: 90px;
}
.desktop .bx-controls-direction .icon {
  background: url("../images/nav_paging.png") no-repeat;
  width: 18px;
  height: 19px;
  text-indent: -9999px;
  margin: 0;
  padding: 0;
  float: left;
}
.desktop .bx-controls-direction .icon.icon-arrow-long-left {
  background-position: 0 0;
}
.desktop .bx-controls-direction .icon.icon-arrow-long-left:hover {
  background-position: 0 -19px;
}
.desktop .bx-controls-direction .icon.icon-arrow-long-right {
  float: right;
  background-position: -32px 0;
}
.desktop .bx-controls-direction .icon.icon-arrow-long-right:hover {
  background-position: -32px -19px;
}
.desktop .carousel .bx-pager {
  margin-right: 13px;
}
.desktop .carousel .bx-pager-item {
  display: inline-block;
  padding-left: 0;
}
.desktop .carousel .bx-pager-item a {
  background: url("../images/nav_paging.png") -18px 0 no-repeat;
  width: 14px;
  height: 19px;
  display: block;
  text-indent: -9999px;
  margin: 0 3px 0 0;
  padding: 0;
}
.desktop .carousel .bx-pager-item a:hover,
.desktop .carousel .bx-pager-item a.active {
  background: url("../images/nav_paging.png") -18px -19px no-repeat;
}

/* configure widget */
/* ================================================ */
.mainbox.configure {
  background: url("../images/logo-on-white.png") 12px 12px no-repeat white;
  min-height: 65px;
  padding: 12px 0 12px 100px;
  position: relative;
  float: none;
  width: inherit;
}
.mainbox.configure .copy-block {
  min-height: inherit;
  padding: 0 200px 0 0;
  border: none;
}
.mainbox.configure .big-link {
  position: absolute;
  right: 15px;
  top: 15px;
}

.sidebox.configure p {
  padding: 10px;
}
.sidebox.configure.configure .more {
  background-color: #dcdcdc;
  padding: 7px 10px;
  min-height: 35px;
}

.breadcrumb {
  width: 960px;
  margin: 0 auto -12px auto;
}
.breadcrumb:after {
  content: "";
  clear: both;
  display: block;
}
.breadcrumb ul {
  float: right;
  margin: 0;
  padding: 9px 0 0 0;
  list-style: none;
}
.breadcrumb ul li {
  float: left;
  color: #88898b;
  font-weight: bold;
  font-size: 12px;
  padding: 0 0 0 3px;
}
.breadcrumb ul li a {
  text-decoration: none;
  color: #88898b;
  font-size: 12px;
  font-weight: bold;
}
.breadcrumb ul li a:hover {
  text-decoration: underline;
}

/* news page */
.news-page-navigation {
  background-color: #fff;
}

.news-page-navigation.bottom {
  margin-top: -20px;
  margin-bottom: 20px;
}

.news-page-navigation.bottom ul {
  display: none;
}

.news-page-navigation:after {
  content: "";
  clear: both;
  display: block;
}

.news-page-navigation ul {
  margin: 20px 15px 12px 15px;
  padding: 0;
  list-style: none;
  float: left;
}

.news-page-navigation ul li {
  padding: 0 8px 8px 0;
  float: left;
}

.news-page-navigation ul li a {
  display: block;
  background-color: #fff;
  border: 1px solid #eee;
  color: #666;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
}

.news-page-navigation ul li a:hover {
  background-color: #001848;
  color: #fff;
}

.news-page-navigation ul li a.active {
  color: #000;
  background-color: #eaeaea;
}
.news-page-navigation ul li a.active:hover {
  background-color: #001848;
  color: #fff;
}

.news-items {
  background-color: #fff;
}

.news-items ol {
  margin: 0;
  list-style: none;
  padding: 0  15px 0 15px;
}

.news-items ol li {
  border-bottom: 1px solid #ececec;
  padding: 15px 0;
  position: relative;
}

.news-items ol li .thumb {
  position: absolute;
  top: 15px;
  left: 0;
}

.news-items ol li .detail {
  padding-left: 90px;
}

.news-items ol li .detail a {
  color: #4b4b4a;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.news-items ol li .detail a:hover {
  text-decoration: underline;
}

.news-items ol li .detail h3 {
  font-size: 1.0em;
  line-height: 140%;
  margin-bottom: 2px;
}

.news-items ol li .detail .date,
.news-detail .date {
  color: #333;
  line-height: 140%;
  font-size: 0.9em;
  margin-bottom: 5px;
  font-style: italic;
}

.news-detail .date {
  font-size: 12px;
  font-weight: bold;
}
.news-detail .big-link {
  margin-top: 30px;
}

/* -- */
.content-detail {
  background-color: #fff;
  padding: 15px;
}

.content-detail p {
  padding-bottom: 10px;
  line-height: 150%;
  font-size: 12px;
}
.content-detail img.responsive {
  margin: 10px;
}
.content-detail img.float-left {
  float: left;
}
.content-detail img.float-right {
  float: right;
}
.content-detail img.shadow {
  -webkit-box-shadow: 0px 6px 5px -3px #575657;
  -moz-box-shadow: 0px 6px 5px -3px #575657;
  box-shadow: 0px 6px 5px -3px #575657;
}
.content-detail img.set-of-two {
  width: 45% !important;
  margin-bottom: 15px;
}
.content-detail .content-copy:after {
  content: "";
  clear: both;
  display: block;
}
.content-detail .content-copy h2 {
  font-size: 18px;
  color: #001748;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: solid 1px #ccc;
}
.content-detail a {
  color: #4b4b4a;
  font-size: 12px;
}
.content-detail a:hover {
  text-decoration: none;
}

.bullets {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
}
.bullets li {
  background: url("../images/bullet_point.png") no-repeat 0 0;
  padding-left: 25px;
  margin: 3px 0;
  font-size: 12px;
  padding-bottom: 3px;
}

.gallery h2 {
  font-size: 18px;
  color: #001748;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: solid 1px #ccc;
}
.gallery ol {
  list-style: none;
  margin: 0;
  padding: 0 0 25px 0;
  width: 100%;
  float: left;
}
.gallery ol li {
  float: left;
  width: 70px;
  height: 55px;
  margin: 5px;
}

/* Spares styles */
/* ================================================ */
.filters {
  float: left;
  margin: 0 -10px 0 -10px;
  padding: 0;
  list-style: none;
}
.filters li {
  width: 176px;
  margin: 0 10px 20px 10px;
  float: left;
  height: 375px;
  background-color: #fff;
}
.filters li h3 {
  color: #FFF;
  margin: 0;
  padding-left: 45px;
  line-height: 37px;
  font-size: 19px;
  height: 34px;
  background: #d4d4d4 url("../images/filter-pre.png") 0 0 no-repeat;
}
.filters li h4 {
  margin: 0 0 10px;
  font-size: 13px;
  border-bottom: 1px solid #FFF;
  padding-bottom: 5px;
  color: #001848;
}
.filters li fieldset {
  border: 0;
  padding: 10px;
  margin: 0;
}
.filters li.selected h3 {
  background-color: #01205a;
}
.filters li.first-child {
  background-color: #d4d4d4;
}
.filters li p {
  float: left;
  padding-bottom: 17px;
  width: 100%;
}
.filters li p label {
  font-size: 12px;
  font-weight: bold;
  color: #001848;
  float: left;
  margin-top: 6px;
  padding: 0;
}
.filters li p input {
  padding: 3px;
  border: 0;
  float: right;
}
.filters li p input.blue-link {
  padding: 0 0 0 15px;
  width: 100px;
  background: url("../images/btn-bgs.png") left bottom no-repeat;
  margin: 0;
}
.filters li #part_no {
  max-width: 92px;
}
.filters li #keyword {
  max-width: 85px;
}
.filters li .print-hide {
  padding-bottom: 0;
}
.filters li .print-hide input {
  background: url("../images/btn-bgs.png") no-repeat;
  padding: 9px 13px 9px;
  display: block;
  color: #FFF000;
  margin: 0;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  border: 0;
  text-align: left;
  height: 35px;
  background-position: 0 bottom;
  width: 100px;
  max-width: 100px;
}
.filters li .filterList {
  margin: 0;
  padding: 0;
  list-style: none;
  float: none;
}
.filters li .filterList li {
  width: auto;
  height: inherit;
  background: transparent;
  margin: 0;
  float: none;
}
.filters li .filterList li a {
  text-decoration: none;
  padding: 5px 12px;
  line-height: 14px;
  display: block;
  font-weight: bold;
  font-size: 13px;
  color: #444;
  background: #d4d4d4;
  border-top: 1px solid #fff;
}
.filters li .filterList li a:hover {
  background: #888;
  color: #EEE;
}
.filters li .filterList li a.selected {
  background: #555;
  color: #EEE;
}
.filters li .filterList li a.selected:hover {
  background: #888;
}

#results {
  clear: left;
}
#results h2 {
  background: url("../images/heading-pre.png") top left no-repeat #001649;
  padding-left: 49px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 1.4em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 10px;
}
#results ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
#results ol > li {
  background-color: #FFF;
  overflow: hidden;
  margin: 0 0 20px;
  padding-bottom: 10px;
}
#results ol > li h3 {
  background: #DDD;
  padding: 8px 10px;
  color: #555;
  font-size: 16px;
}
#results ol > li .container {
  float: left;
  position: relative;
  width: 100%;
  min-height: 150px;
}
#results ol > li .container .spare-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
}
#results ol > li .container .info {
  font-weight: bold;
  font-size: 13px;
  color: #444;
  float: left;
  margin-left: 150px;
  margin-right: 200px;
}
#results ol > li .container .info .machines {
  padding: 10px;
  position: relative;
}
#results ol > li .container .info .machines > .title {
  position: absolute;
  top: 10px;
  left: 10px;
  padding-bottom: 10px;
}
#results ol > li .container .info .machines > ul {
  margin: 0 0 20px 75px;
  padding: 0;
  list-style: none;
  float: left;
}
#results ol > li .container .info .machines > ul li {
  float: left;
  padding: 0 5px 5px 0;
}
#results ol > li .container .info .machines > ul li a {
  background: #DDD;
  padding: 3px 10px;
  margin: 0;
  display: block;
  text-decoration: none;
  color: #555;
}
#results ol > li .container .info .machines > ul li a:hover {
  background: #BBB;
  color: #333;
}
#results ol > li .container .info .categories {
  clear: left;
}
#results ol > li .container .info .related {
  padding-top: 20px;
}
#results ol > li .container .info .related ul {
  margin: 0;
  padding: 2px 0 0 0;
  list-style: none;
}
#results ol > li .container .info .related ul li {
  margin-bottom: 3px;
  position: relative;
  padding-right: 40px;
}
#results ol > li .container .info .related ul li div {
  display: inline-block;
}
#results ol > li .container .info .related ul li div.part {
  background: #DDD;
  color: #555;
  padding: 3px 10px;
}
#results ol > li .container .info .related ul li div.part a {
  text-decoration: none;
  color: #444;
}
#results ol > li .container .info .related ul li div.part:hover {
  background: #BBB;
  color: #333;
}
#results ol > li .container .info .related ul li div.add {
  position: absolute;
  right: 0;
  top: 0;
}
#results ol > li .container .info .related ul li div.add a {
  color: #FFF000;
  background-color: #01205a;
  padding: 3px 5px;
  text-decoration: none;
  display: inline-block;
}
#results ol > li .container .info .related ul li div.add a:hover {
  color: #fff;
}
#results ol > li .container .pricing {
  margin: 0;
  padding: 5px 0 0 0;
  list-style: none;
  width: 200px;
  font-weight: bold;
  color: #444;
  font-size: 13px;
  position: absolute;
  top: 0;
  right: 0;
}
#results ol > li .container .pricing li {
  padding: 5px 15px;
}
#results ol > li .container .pricing li.quantity select {
  width: 50px;
}
#results ol > li .container .pricing li .btn_addBasket {
  background: url("../images/btn-bgs.png") no-repeat;
  padding: 9px 13px 9px;
  display: inline-block;
  color: #FFF000;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  border: 0;
  text-align: left;
  width: 91px;
  text-decoration: none;
}
#results ol > li .container .pricing li .btn_addBasket:hover {
  color: #fff;
}

/* Price & Configure styles */
/* ================================================ */
#config_machine .step {
  background: url("../images/heading-pre.png") top left no-repeat #001649;
  padding-left: 49px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 1.4em;
}

#config_machine .step span {
  color: #fff000;
}

/* step 1 */
#config_machine .configure {
  padding: 8px 15px;
  background: #fff;
  margin-bottom: 1px;
}

#config_machine .configure-content {
  background: #fff;
  position: relative;
  min-height: 270px;
}

#config_machine .empty-configuration {
  padding: 15px;
}

#config_machine .configure-content:after {
  content: "";
  clear: both;
  display: block;
}

#config_machine .configure-content .img {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#config_machine .configure-content .img img {
  border: 1px solid #ccc;
}

#config_machine .configure-content .content {
  margin-left: 460px;
  padding: 12px 15px 18px 15px;
}

#config_machine .configure-content .content .specs {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #dcdcdc;
}

#config_machine .configure-content .content .specs li {
  padding: 8px 15px;
  margin-top: 2px;
  background-color: #ececec;
}

#config_machine .configure-content .content h3 {
  font-size: 1.4em;
  margin-bottom: 7px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

#config_machine .configure-content .content h4 {
  font-size: 1.4em;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  margin-bottom: 40px;
}

#config_machine .configure-content .content .big-link {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

/* step n */
/* show and hide */
#config_machine .mainbox .show-hide {
  text-decoration: none;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

#config_machine .mainbox .show-hide span {
  color: #ececec;
  font-weight: normal;
}

#config_machine .mainbox .show-hide span span {
  color: #ffffff;
}

#config_machine .mainbox.open .body {
  display: block;
}

#config_machine .mainbox.open .show,
#config_machine .mainbox.closed .hide {
  display: none;
}

#config_machine .mainbox.closed .body {
  display: none;
}

/* step 2 */
/* Configure options, responsive using JS */
/* ================================================ */
#config_machine .options {
  margin: 1px 0 0 0;
  padding: 0;
  list-style: none;
  float: left;
}

#config_machine .options li {
  float: left;
  width: 33.33%;
  background-color: #fff;
  margin-bottom: 15px;
  outline: none;
  cursor: pointer;
}

#config_machine .options li:hover h3,
#config_machine .options li:hover .add {
  background-color: #c8c8c8;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

#config_machine .options li:hover {
  background-color: #fcfcfc;
}

#config_machine .options li:hover p {
  color: #000;
}

#config_machine .options li.selected h3,
#config_machine .options li.selected .add {
  background-color: #0f82ff;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

#config_machine .options li .remove-option,
#config_machine .options li.selected .add-option {
  display: none;
}

#config_machine .options li .add-option,
#config_machine .options li.selected .remove-option {
  display: inline-block;
}

#config_machine .options li h3 {
  height: 40px;
  padding: 8px 10px;
  background-color: #dcdcdc;
  font-size: 1.1em;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

#config_machine .options li .col {
  float: left;
  width: 55%;
  padding: 10px 0;
  height: 220px;
  overflow: hidden;
}

#config_machine .options li .col p {
  padding: 0 10px;
  font-size: 0.9em;
}

#config_machine .options li .col.left {
  padding-top: 0;
  width: 45%;
}

#config_machine .options li .col.left img {
  width: 90%;
  margin: 10px 5px 10px 10px;
  border: 1px solid #ccc;
}

#config_machine .options li .col.left h4,
#config_machine .options li .col.left p {
  padding-left: 10px;
}

#config_machine .options li .add {
  clear: left;
  padding: 8px 15px;
  background-color: #dcdcdc;
  text-align: right;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

#config_machine .options li .add input {
  display: none;
}

/* single column styles */
#config_machine .options.single-column li {
  float: none;
  width: 100%;
  margin-right: 0;
}

#config_machine .options.single-column li .col.right {
  float: left;
  width: 100%;
  margin-left: -155px;
  height: inherit;
}

#config_machine .options.single-column li .col.right p {
  padding-right: 15px;
}

#config_machine .options.single-column li .col.right * {
  margin-left: 155px;
}

#config_machine .options.single-column li .col.left {
  width: 155px;
  height: inherit;
}

#config_machine .options.single-column li .col.left img {
  width: 140px;
}

/* step 3 */
#config_machine .basket table {
  width: 100%;
  margin-top: 2px;
  border: 1px solid #ccc;
  background: #fff;
}

#config_machine .basket table tr.even {
  background: #f2f2f2;
}

#config_machine .basket td,
#config_machine .basket th {
  padding: 7px 16px;
  text-align: left;
}

#config_machine .basket th {
  padding: 10px 16px;
  border-bottom: 1px solid #ccc;
}

#config_machine .basket td.image {
  width: 72px;
}

#config_machine .basket img {
  width: 70px;
  height: 55px;
}

#config_machine .basket .cost {
  text-align: right;
  width: 100px;
}

#config_machine .basket table thead {
  background-color: #dcdcdc;
  color: #444;
  font-size: 1.0em;
  padding: 4px 16px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

#config_machine .basket tfoot td {
  border-top: 1px solid #ccc;
  padding: 16px 16px;
  font-weight: bold;
  background: #dcdcdc;
  color: #000000;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  font-size: 1.1em;
}

#config_machine .basket .body {
  background-color: #fff;
}

#config_machine .basket .body label {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 10px;
  display: block;
}

#config_machine .basket .body textarea {
  width: 100%;
  height: 120px;
}

/* step 4 */
#config_machine .save-print-order .body {
  background: #fff;
  padding: 15px;
}

#config_machine .save-print-order .body p {
  padding-bottom: 10px;
  text-align: right;
}

#config_machine .save-print-order .body p a {
  margin-bottom: 5px;
}

/* step 5 */
#config_machine .email-option .body {
  background: #fff;
  padding: 15px;
}

#config_machine .email-option .body .column {
  width: 48%;
  float: left;
  padding-bottom: 10px;
}

#config_machine .email-option .body .right-column {
  float: right;
}

#config_machine .email-option label {
  width: 120px;
  float: left;
  padding-top: 5px;
}

#config_machine .email-option .column p {
  padding-bottom: 10px;
  float: left;
  width: 100%;
}

#config_machine .email-option .column select,
#config_machine .email-option .column input {
  float: left;
}

#config_machine .email-option .column input {
  width: 220px;
}

#config_machine .email-option textarea {
  width: 315px;
  float: left;
  height: 80px;
}

#config_machine .email-option .body .foot {
  clear: left;
  padding-top: 15px;
  text-align: right;
  border-top: 1px solid #eaeaea;
}

#config_machine .email-option .body .foot p {
  float: left;
}

/* validation errors */
/* ROBCURLE In your js validate and add .error class to parent p tag, simples */
#config_machine .email-option .column p .error {
  color: #BB1F1D;
  display: none;
  float: left;
}

#config_machine .email-option .column p.error select,
#config_machine .email-option .column p.error input {
  border: 1px solid #BB1F1D;
}

#config_machine .email-option .column p.error .error {
  display: block;
  margin-left: 120px;
  font-size: 0.85em;
}

/* homepage mini boxes, responsive using JS */
/* ================================================ */
.minibox {
  float: left;
  width: 33.33%;
  background-color: #fff;
}

.minibox h3 {
  color: #fff;
  background-color: #001e5a;
  margin: 0;
  padding: 7px 10px;
  font-size: 18px;
  line-height: 18px;
}

.minibox img {
  width: 100%;
}

.minibox .more {
  padding: 7px 12px;
  min-height: 37px;
  position: relative;
  background: #dcdcdc;
}

.minibox .copy p {
  padding: 7px 12px;
  line-height: 140%;
}

.minibox .more p {
  color: #000;
  padding: 0 80px 0 0;
  font-size: 1.0em;
}

.minibox .more .big-link {
  position: absolute;
  top: 10px;
  right: 15px;
}

/* Product page */
/* ================================================ */
.container.product {
  background-color: #fff;
}
.container.product .main-heading {
  background-color: #ececec;
}
.container.product .product-image {
  margin-right: -246px;
  width: 100%;
  float: left;
}
.container.product .product-image .container {
  margin-right: 246px !important;
}
.container.product .product-image .container img {
  border-top: 15px solid #001649;
  width: 100%;
}
.container.product .product-details {
  width: 246px;
  float: left;
  font-size: 12px;
  line-height: 130%;
}
.container.product .product-details h3 {
  color: #fff000;
  background: #001748;
  padding: 8px 10px 8px 20px;
  font-size: 15px;
}
.container.product .product-details ul {
  margin: 5px 5px 2px 20px;
  padding: 0;
  list-style: none;
}
.container.product .product-details ul li {
  padding: 5px 8px;
  background-color: #ececec;
  margin-bottom: 1px;
}
.container.product .product-details table {
  margin: 10px 12px 0 20px;
  font-size: 11px;
}
.container.product .product-details table td, .container.product .product-details table th {
  text-align: right;
  vertical-align: top;
  padding: 0 0 3px 10px;
}
.container.product .product-details .button {
  text-align: right;
  padding: 10px;
}
.container.product .product-details .button:after {
  content: "";
  clear: both;
  display: block;
}
.container.product .product-details .button a {
  float: right;
}
.container .tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
  background: url("../images/bg-tabs.png") bottom left repeat-x;
}
.container .tabs li {
  float: left;
  padding: 0 1px 0 0;
}
.container .tabs li a {
  display: block;
  float: left;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  border: 1px solid #ccc;
  border-bottom: none;
  position: relative;
  bottom: 1px;
  margin-top: 8px;
  font-size: 12px;
  background-color: #fff;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.container .tabs li a:hover {
  background-color: #f7f7f7;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.container .tabs li.active a {
  background-color: #fff;
  position: relative;
  bottom: 0;
  padding: 14px 18px;
  color: #000;
  margin-top: 0;
  cursor: default;
}
.container .tabs li.active a:hover {
  background-color: #fff;
}
.container .tabs .copy-block {
  display: none;
}
.container .copy-block {
  background-color: #fff;
  padding: 15px;
  min-height: 290px;
  box-sizing: content-box;
  border: 1px solid #ccc;
  border-top: none;
}
.container .copy-block .feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container .copy-block .feature-list li {
  position: relative;
  padding-bottom: 10px;
}
.container .copy-block .feature-list li:after {
  content: "";
  clear: both;
  display: block;
}
.container .copy-block .feature-list li .thumb {
  position: absolute;
  left: 0;
  top: 0;
}
.container .copy-block .feature-list li .thumb img {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.container .copy-block .feature-list li .detail {
  margin-left: 115px;
  min-height: 80px;
  font-size: 12px;
  line-height: 140%;
}
.container .tabs-content {
  clear: left;
}

.sidebox.gallery ul {
  margin: 0;
  padding: 0 0 0 2px;
  list-style: none;
  float: left;
}
.sidebox.gallery ul li {
  float: left;
  padding: 0 2px 4px 2px;
}

/* footer */
/* ================================================ */
.footer {
  background-color: #001848;
  margin-bottom: 20px;
  font-size: 0.85em;
  color: #ccc;
  text-align: left;
}

.footer a {
  color: #a4a4a4;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer ul {
  margin: 0 0 0 10px;
  padding: 0;
  list-style: none;
}

.footer .site {
  padding-top: 15px;
}

.footer ul li {
  display: inline;
}

.footer ul a {
  display: inline-block;
  padding: 8px 10px;
}

.footer .address {
  clear: both;
  text-align: right;
  padding-top: 15px;
  padding-right: 10px;
}

.footer .address a {
  color: #fff;
}

.footer .address p {
  line-height: 150%;
  padding: 0 15px 8px 15px;
  text-shadow: none;
  font-size: 11px;
}

.desktop .footer ul {
  clear: left;
  float: left;
  margin-left: 15px;
}
.desktop .footer .aux {
  margin-right: 100px;
}
.desktop .footer ul a {
  padding: 8px 4px 4px 4px;
}
.desktop .footer .address {
  float: right;
  width: 285px;
  margin-top: -60px;
  margin-bottom: 20px;
}
.desktop .footer .address p {
  text-align: right;
  line-height: 160%;
}
.desktop .footer .address p span {
  display: block;
}

.made-by {
  clear: both;
  background-color: #ececec;
  padding: 10px;
  margin-top: 10px;
  color: #407f12;
  text-align: center;
}

.made-by p {
  line-height: 160%;
}

.made-by .sugarshaker {
  background: url("../images/sugarshaker.png") left center no-repeat;
  padding: 4px 0 4px 20px;
  color: #407f12;
  text-decoration: underline;
}

.made-by .sugarshaker:hover {
  color: #407f12;
  text-decoration: none;
}

/* lightbox overrides */
.fancybox-skin {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.fancybox-title {
  text-align: center;
}

#basket {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  margin-top: 176px;
  border: 2px solid #bb1f1d;
  color: #444;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.75s ease;
  background: #fff;
  height: 97px;
  overflow: hidden;
}

#basket .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 164px;
}

#basket .container:after {
  content: "";
  clear: both;
  display: block;
}

#basket.stick-out {
  width: 168px;
  transition: all 0.5s ease;
}

#basket .show-hide {
  float: left;
  width: 38px;
  height: 93px;
  background: url("../images/your-marshall.png") top left no-repeat #bb1f1d;
  text-indent: -9000px;
}

#basket .summary-box {
  background: #fff;
  padding-bottom: 8px;
  float: left;
  width: 126px;
}

#basket .summary-box h3 {
  background: #bb1f1d;
  color: #fff;
  padding: 5px 10px;
}

#basket .summary-box .detail {
  padding: 5px 10px;
  font-size: 1.1em;
  line-height: 140%;
  min-height: 50px;
}

#basket .summary-box strong {
  color: #000;
}

.mobile {
  /* media queries */
  /* ================================================ */
  /* standard desktop */
  /* tablet portrait and mobile landscape */
  /* mobile portrait */
}
.mobile .carousel .bx-controls {
  padding: 0 15px 15px 0;
}
.mobile .carousel .bx-pager-item {
  display: inline-block;
  padding-left: 12px;
}
.mobile .carousel .bx-pager-item a {
  text-indent: -9000px;
  background-color: #999;
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
.mobile .carousel .bx-pager-item a:hover {
  background-color: #666;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
.mobile .carousel .bx-pager-item a.active,
.mobile .carousel .bx-pager-item a.active:hover {
  background-color: #bb1f1d;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
@media only screen and (max-width: 1000px) {
  .mobile {
    /* step 5 */
  }
  .mobile body {
    background: #ececec;
  }
  .mobile .page {
    width: 100%;
  }
  .mobile .header {
    height: 100px;
    background: #bb1f1d;
  }
  .mobile .breadcrumb {
    display: none;
  }
  .mobile h1 {
    margin-left: 10px;
  }
  .mobile .main-nav,
  .mobile #hit-counter {
    display: none;
  }
  .mobile .burger-nav {
    display: block;
  }
  .mobile .content {
    padding: 0 20px;
  }
  .mobile .footer {
    margin-bottom: 0;
  }
  .mobile #config_machine .email-option select {
    margin-right: 40px;
  }
  .mobile #config_machine .email-option label {
    width: 100%;
    float: left;
    padding: 0 0 4px 0;
  }
  .mobile #config_machine .email-option textarea {
    width: 100%;
  }
  .mobile #config_machine .email-option .column p.error .error {
    margin-left: 0;
    clear: left;
  }
}
@media only screen and (max-width: 769px) {
  .mobile {
    /* spares results */
  }
  .mobile .content {
    padding: 0 15px;
  }
  .mobile .main {
    margin-top: 15px;
    margin-right: 0;
    width: 100%;
    float: none;
  }
  .mobile .main .container {
    margin-right: 0;
  }
  .mobile .sidebar {
    margin-top: 5px;
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .mobile .sidebar.sidebox-3 .sidebox {
    float: left;
    width: 33.33%;
  }
  .mobile .sidebar.sidebox-2 .sidebox {
    float: left;
    width: 50%;
  }
  .mobile .sidebar .sidebox.news {
    clear: left;
    float: none;
    width: 100%;
  }
  .mobile .sidebar .sidebox.news ul li h4 {
    font-size: 1.1em;
    line-height: 140%;
  }
  .mobile .sidebar .sidebox.gallery ul {
    padding: 8px 0 0 8px;
  }
  .mobile .sidebar .sidebox.gallery ul li {
    padding: 0 8px 8px 0;
  }
  .mobile .news-detail {
    text-align: right;
  }
  .mobile .news-detail .content-copy {
    text-align: left;
  }
  .mobile .news-detail .big-link {
    margin-top: 10px;
  }
  .mobile .news-page-navigation ul li a {
    border: 1px solid #ccc;
    padding: 0 10px;
    line-height: 28px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .mobile .carousel .copy .big-link {
    right: 20px;
    top: 15px;
  }
  .mobile .made-by {
    background-color: #dcdcdc;
  }
  .mobile .mainbox .minibox {
    float: left;
    width: 50%;
  }
  .mobile #config_machine .configure-content .img {
    position: static;
    width: 100%;
  }
  .mobile #config_machine .configure-content .img img {
    width: 100%;
  }
  .mobile #config_machine .configure-content .content {
    margin-left: 0;
    padding: 0 15px 15px 15px;
  }
  .mobile #config_machine .options li {
    width: 50%;
  }
  .mobile .main-heading.hero {
    height: auto;
  }
  .mobile .main-heading.hero h2 {
    padding: 8px 15px 5px 15px;
    font-size: 22px;
  }
  .mobile .main-heading.hero p {
    padding: 0 15px 15px 15px;
    font-size: 16px;
  }
  .mobile .news-page-navigation.bottom ul {
    display: block;
  }
  .mobile .container.product .product-image {
    margin-right: 0;
    width: 100%;
    float: none;
  }
  .mobile .container.product .product-image .container {
    margin-right: 0 !important;
  }
  .mobile .container.product .product-image .container img {
    border-top: none;
    width: 100%;
  }
  .mobile .container.product .product-details {
    width: inherit;
    float: none;
    font-size: 12px;
    line-height: 130%;
  }
  .mobile .container.product .product-details h3 {
    color: #fff000;
    background: #001748;
    padding: 8px 10px;
    font-size: 15px;
  }
  .mobile .container.product .product-details ul {
    margin: 12px;
  }
  .mobile .container.product .product-details ul li {
    padding: 5px 8px;
    background-color: #ececec;
    margin-bottom: 3px;
  }
  .mobile .container.product .product-details table {
    margin: 0;
    font-size: 12px;
    width: 100%;
    text-align: right;
  }
  .mobile .container.product .product-details table td, .mobile .container.product .product-details table th {
    text-align: right;
    vertical-align: top;
    padding: 0 15px 5px 10px;
  }
  .mobile .container.product .product-details .button {
    text-align: right;
    padding: 10px;
  }
  .mobile .container.product .product-details .button:after {
    content: "";
    clear: both;
    display: block;
  }
  .mobile .container.product .product-details .button a {
    float: right;
  }
  .mobile #results ol > li .container .info {
    margin-right: 0;
  }
  .mobile #results ol > li .container .info .machines {
    margin-right: 0;
  }
  .mobile #results ol > li .container .pricing {
    position: static;
    margin-left: 150px;
  }
  .mobile #results ol > li .container .pricing .add-to-basket {
    text-align: right;
  }
}
@media only screen and (max-width: 679px) {
  .mobile {
    /* configures steps */
    /* table styles */
    /* step 5 */
    /* product page */
  }
  .mobile .content {
    padding: 0;
  }
  .mobile .content .filters {
    margin: 0;
  }
  .mobile .main {
    margin-top: 0;
  }
  .mobile .main-heading.hero {
    background: #001649;
  }
  .mobile h1 {
    padding-top: 15px;
  }
  .mobile h1 a img {
    width: 300px;
  }
  .mobile #mobile-nav .header span,
  .mobile .burger-nav {
    width: 45px;
    height: 40px;
  }
  .mobile #mobile-nav .header span,
  .mobile .burger-nav a {
    font-size: 3.5em;
  }
  .mobile .sidebar.sidebox-3 .sidebox, .mobile .sidebar.sidebox-2 .sidebox {
    width: 50%;
  }
  .mobile .sidebar.sidebox-3 .sidebox.news, .mobile .sidebar.sidebox-2 .sidebox.news {
    width: 100%;
  }
  .mobile .mainbox.configure {
    padding: 10px 15px 15px 100px;
    text-align: right;
  }
  .mobile .mainbox.configure .copy-block {
    min-height: inherit;
    padding: 0;
    border: none;
    text-align: left;
  }
  .mobile .mainbox.configure .copy-block h2 {
    line-height: 110%;
    padding-bottom: 5px;
  }
  .mobile .mainbox.configure .copy-block p {
    padding-bottom: 10px;
  }
  .mobile .mainbox.configure .big-link {
    position: static;
  }
  .mobile #config_machine .step {
    font-size: 1.2em;
    padding-left: 46px;
  }
  .mobile #config_machine .step > span,
  .mobile #config_machine .step span.text {
    display: none;
  }
  .mobile #config_machine .step span.fa {
    font-size: 1.3em;
  }
  .mobile #config_machine .basket table td:nth-child(1),
  .mobile #config_machine .basket table th:nth-child(1) {
    display: none;
  }
  .mobile #config_machine .basket td {
    vertical-align: top;
  }
  .mobile #config_machine .email-option .column input,
  .mobile #config_machine .email-option textarea {
    width: 100%;
  }
  .mobile #config_machine .email-option select {
    margin-right: 0;
  }
  .mobile #config_machine .email-option label {
    display: none;
  }
  .mobile #config_machine .email-option .body .column {
    width: 100%;
    float: none;
  }
  .mobile #config_machine .email-option .body .foot {
    padding-top: 0;
    border-top: none;
  }
  .mobile .carousel .bx-controls {
    padding-right: 0;
    text-align: center;
  }
  .mobile .carousel .bx-pager {
    float: none;
  }
  .mobile .mainbox.padded {
    margin-top: 20px;
  }
  .mobile .carousel .copy h2 {
    font-size: 16px;
  }
  .mobile .container .tabs {
    float: none;
    width: 100%;
    background: none;
  }
  .mobile .container .tabs .bullets {
    padding: 0;
    margin: 0;
  }
  .mobile .container .tabs .bullets li {
    padding: 0 0 5px 25px;
    float: none;
  }
  .mobile .container .tabs li {
    float: none;
    padding: 0;
  }
  .mobile .container .tabs li a {
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid #fff;
    position: relative;
    bottom: 0;
    margin-top: 0;
    font-size: 12px;
    background-color: #dedede;
  }
  .mobile .container .tabs li.active a {
    padding: 8px 10px;
    color: #fff;
    font-weight: bold;
    background-color: #001e5a;
    border: none;
    font-size: 15px;
  }
  .mobile .container .tabs li.active a:hover {
    color: #fff;
    font-weight: bold;
    background-color: #001e5a;
  }
  .mobile .container .tabs li.active .copy-block {
    display: block;
    min-height: inherit;
  }
  .mobile .container .tabs .copy-block {
    display: none;
  }
  .mobile .container .copy-block {
    padding: 15px;
    border: none;
  }
  .mobile .container .tabs-content {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .mobile {
    /* buttons */
    /* filers */
    /* news */
    /* news detail */
    /* spares results */
    /* configures steps */
    @-webkit-keyframes peakingBasket {
      0% {
        margin-top: -71px;
      }

      25% {
        margin-top: 0;
      }

      75% {
        margin-top: 0;
      }

      100% {
        margin-top: -71px;
      }
}

    @keyframes peakingBasket {
      0% {
        margin-top: -71px;
      }

      25% {
        margin-top: 0;
      }

      75% {
        margin-top: 0;
      }

      100% {
        margin-top: -71px;
      }
}

  }
  .mobile .header,
  .mobile #mobile-nav .header {
    height: 75px;
  }
  .mobile h1 {
    padding-top: 15px;
    padding-left: 0;
  }
  .mobile h1 a img {
    width: 200px;
    padding-left: 4px;
  }
  .mobile #mobile-nav .header span,
  .mobile .burger-nav {
    top: 18px;
    right: 2px;
    width: 40px;
    height: 36px;
  }
  .mobile #mobile-nav .header span,
  .mobile .burger-nav a {
    font-size: 2.5em;
  }
  .mobile .sidebar.sidebox-3 .sidebox, .mobile .sidebar.sidebox-2 .sidebox {
    width: 100%;
    float: none;
  }
  .mobile .sidebar.sidebox-3 .sidebox.news, .mobile .sidebar.sidebox-2 .sidebox.news {
    width: 100%;
  }
  .mobile .sidebar .sidebox.configure {
    position: relative;
  }
  .mobile .sidebar .sidebox.configure .more {
    position: static;
    width: 100%;
    box-sizing: border-box;
  }
  .mobile textarea,
  .mobile input[type="text"],
  .mobile input[type="email"],
  .mobile input[type="password"],
  .mobile input[type="number"],
  .mobile select {
    border-radius: 4px;
    background-color: #fff;
    font-family: 'Tahoma', Helvetica, Arial, sans-serif;
    padding: 6px 10px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    font-size: 1.0em;
  }
  .mobile input[type="text"],
  .mobile input[type="email"],
  .mobile input[type="password"],
  .mobile input[type="number"],
  .mobile select {
    font-size: 1.1em;
    padding: 5px 7px !important;
  }
  .mobile select {
    background: url("../images/bg-select-schveron.jpg") center right no-repeat white;
    padding: 5px 30px 5px 7px;
  }
  .mobile .error select {
    background: url("../images/bg-select-schveron-error.jpg") center right no-repeat white;
  }
  .mobile .old-mobile .big-link {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 9px 14px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    font-size: 1.0em;
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    clear: both;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.3);
  }
  .mobile .old-mobile .red-link {
    background: #BB1F1D;
    background-image: -webkit-linear-gradient(top, #bb1f1d, #d20805);
    background-image: -moz-linear-gradient(top, #bb1f1d, #d20805);
    background-image: -ms-linear-gradient(top, #bb1f1d, #d20805);
    background-image: -o-linear-gradient(top, #bb1f1d, #d20805);
    background-image: linear-gradient(to bottom, #bb1f1d, #d20805);
  }
  .mobile .old-mobile .red-link:active, .mobile .old-mobile .red-link:hover {
    background: #F20E08;
    background-image: -webkit-linear-gradient(top, #f20e08, #f71102);
    background-image: -moz-linear-gradient(top, #f20e08, #f71102);
    background-image: -ms-linear-gradient(top, #f20e08, #f71102);
    background-image: -o-linear-gradient(top, #f20e08, #f71102);
    background-image: linear-gradient(to bottom, #f20e08, #f71102);
  }
  .mobile .old-mobile .blue-link {
    background: #001649;
    color: #fff;
  }
  .mobile .old-mobile .blue-link:active, .mobile .old-mobile .blue-link:hover {
    background: #0f82ff;
  }
  .mobile .filters {
    float: left;
    margin: 0 -10px 0 -10px;
    padding: 0;
    list-style: none;
  }
  .mobile .filters li {
    width: 100%;
    margin: 0 0 10px 0;
    float: none;
    height: inherit;
  }
  .mobile .filters li .filterList {
    margin: 0;
    padding: 0;
    list-style: none;
    float: none;
  }
  .mobile .filters li .filterList li {
    width: auto;
    height: inherit;
    background: transparent;
    margin: 0;
    float: none;
  }
  .mobile .filters li .filterList li a {
    text-decoration: none;
    padding: 5px 12px;
    line-height: 14px;
    display: block;
    font-weight: bold;
    font-size: 13px;
    color: #444;
    background: #d4d4d4;
    border-top: 1px solid #fff;
  }
  .mobile .filters li .filterList li a:hover {
    background: #888;
    color: #EEE;
  }
  .mobile .filters li .filterList li a.selected {
    background: #555;
    color: #EEE;
  }
  .mobile .filters li .filterList li a.selected:hover {
    background: #888;
  }
  .mobile .carousel .copy h2,
  .mobile .mainbox h2 {
    font-size: 1.2em;
  }
  .mobile .main-heading h2 {
    font-size: 1.5em;
  }
  .mobile .main-heading p {
    font-size: 1.2em;
  }
  .mobile .mainbox.configure {
    background: #fff;
    padding: 15px;
  }
  .mobile .mainbox.configure .big-link {
    position: static;
  }
  .mobile .carousel .copy {
    padding-bottom: 15px;
  }
  .mobile .carousel .copy h2,
  .mobile .carousel .copy p {
    padding-right: 0;
  }
  .mobile .carousel .copy .big-link {
    position: static;
    float: right;
  }
  .mobile .news-items ol li .thumb {
    display: none;
  }
  .mobile .news-items ol li .detail {
    padding-left: 0;
  }
  .mobile .news-items ol li .detail a {
    color: #217cc9;
    text-decoration: none;
  }
  .mobile .news-items ol li .detail h3 {
    font-size: 1.0em;
    line-height: 140%;
    margin-bottom: 2px;
  }
  .mobile .news-items ol li .detail .date {
    color: #333;
    font-weight: bold;
    line-height: 140%;
    font-size: 0.9em;
    margin-bottom: 5px;
  }
  .mobile .content-detail img.responsive {
    width: 100% !important;
    margin: 15px 0;
  }
  .mobile .content-detail img.float-left {
    float: none;
  }
  .mobile .content-detail img.float-right {
    float: none;
  }
  .mobile .content-detail img.set-of-two {
    width: 100% !important;
  }
  .mobile .minibox .more {
    padding: 10px 12px;
  }
  .mobile #results ol > li .container .spare-thumbnail {
    position: static;
  }
  .mobile #results ol > li .container .spare-thumbnail img {
    width: 100%;
  }
  .mobile #results ol > li .container .info {
    margin: 0;
  }
  .mobile #results ol > li .container .info .machines .title {
    position: static;
    padding-left: 0;
  }
  .mobile #results ol > li .container .info .machines .related h4 {
    text-decoration: underline;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .mobile #results ol > li .container .info .machines > ul {
    margin: 0 0 20px 0;
  }
  .mobile #results ol > li .container .pricing {
    position: static;
    margin-left: 0;
    width: inherit;
  }
  .mobile #results ol > li .container .pricing .add-to-basket {
    text-align: right;
  }
  .mobile #results ol > li .container .pricing li {
    padding: 5px 10px;
  }
  .mobile #results ol > li .container .pricing li.quantity select {
    width: 100%;
    margin-top: 10px;
  }
  .mobile #configure-machine select {
    width: 100%;
  }
  .mobile #config_machine .step {
    font-size: 1.2em;
  }
  .mobile #basket {
    top: 0;
    left: 0;
    bottom: 0;
    border: none;
    background-color: #bb1f1d;
    width: 100%;
    height: 71px;
    margin-top: -71px;
    position: fixed;
    transition: margin 0.5s ease 0s;
  }
  .mobile #basket .summary-box h3 {
    background: none repeat scroll 0 0 #bb1f1d;
    color: #fff;
    padding: 5px 10px;
  }
  .mobile #basket .summary-box {
    float: none;
    padding-bottom: 8px;
    width: 100%;
  }
  .mobile #basket .container {
    width: 100%;
  }
  .mobile #basket a {
    display: none;
  }
  .mobile #basket .summary-box .detail {
    min-height: inherit;
    border: 5px solid #bb1f1d;
  }
  .mobile #basket.stick-out {
    width: 100%;
  }
  .mobile #basket.stick-out {
    -webkit-animation: peakingBasket 3s normal ease-out;
    animation: peakingBasket 3s normal ease-out;
  }
}
